/* icon style */
.social-head a{
    margin-right:8px;
}
.icon-style img{
    height:20px ;
    width: 20px;
}
.cart-items-number{
    position: relative;
}
@media only screen and (max-width: 575px) {
    .cart-items-number{
        width: 6%;
        position: relative;
    }

}
.cart-size p{
    text-align: center;
    border-radius: 100%;
    width:15px;
    background-color:rgb(146, 134, 134);
}
.cart-items-number .show-number{
    position:absolute;
    top: 0%;
    right: 0%;
    font-size:12px;
    font-weight: bold;
    color:rgb(255, 255, 255);
}
#nothing{
    display:none;
    color:#fff;
}
.mini-cart{
display:flex;
}
.mini-cart-button{
    padding:10px;
}
.mini-cart img{
    margin-bottom: 5px;
    margin-right:5px;
    height:65px;
    width:60px;
}
.mini-cart-details{
    margin-top:-15px;
    padding:2px
}
.mini-cart-details p{
 padding:0;
 margin:0px;
 font-size:8px!important;
}
.cart-all{
    width:300px;
    padding:10px;
    display:none;
    background-color:rgba(62, 40, 40, 0.639);
}
.cart-all h6{
    text-align: center;
}
.cart-all p{
    color:rgb(255, 248, 248);
    margin-top: 5px;
    font-size:10px;
}
.head .cart-all{
    position:absolute;
    top: 0%;
    right: 0%;
}
.head{
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
}
.cart-all a{
    margin-left:70%;;
}
.btn-cart{
    border: none;
    color: rgba(255, 255, 255, 0.734);
    border-radius: 1px;
    background-color:rgba(49, 220, 98, 0.686);
    outline: none!important;
}
.btn-remove{
    outline: none!important;
    border: none;
    color: rgba(255, 255, 255, 0.666);
    border-radius: 1px;
    background-color:rgb(235, 12, 12);
}
/* social link style */
.social{
    margin-left: 5px;;
}
/* breadcrumb style */
.breadcrumb-style{
    background-color: rgb(255, 255, 255);
}
.breadcrumb-style a{
    color:gray;
}
/* title style */
.title{
    margin-top:20px;
    margin-bottom:50px;
}
/* single blog */
.single-post img{
    margin-top:15px;
    margin-bottom:15px;
    width: 100%;
}
.single-post p{
    color:rgba(0, 0, 0, 0.549);
}
.quotation img{
    width: 40px;
    height: 50px;
}
.quotation h6{
    color:rgba(72, 61, 61, 0.844);
    margin-top:50px;

    margin-bottom: 20px;
}
.list-style p{
margin-bottom: 5px;;
}
.color img{
    height: 200px;
}
.single-tags{
    color:rgba(0, 0, 0, 0.549);
}
.single-tags button{
    border: none;
    outline: none;
}
.social-tags img{
    margin-top: 0px;
    margin-right: 10px;
    width: 15px;
    height: 15px;
}
/* comment */
.comment img{
    margin:auto;
    width: 75px;
    height: 80px;
}
.forward-icon{
    margin-left: 80%;
}
.user-reply{
    margin-bottom: 20px;
    padding:20px;
    background-color:rgb(235, 235, 235);
}
.user-reply img{
    margin: 0;
    width: 20px;
    height: 20px;
}
.comment input,textarea{
    outline: none;
    padding:5px;
    background-color:rgb(235, 235, 235);
    border-radius: 2px;
    border: none;
    margin-bottom:20px;
    width:100%;
}
.comment input::placeholder{
    padding-left: 20px;
}
.comment textarea::placeholder{
    padding-left: 20px;
}
.btn-send{
    border: none;
    width: 25%;
    color:white;
    border-radius: 4px;;
    padding:8px;
    background-color:rgb(73, 36, 36);

}
/* side-bar */
/* category */
.category{
    margin-top:50px;
    margin-bottom:20px;
}
.category-text-style{
    color:gray;
    font-size:15px;
}
.blog-search img{
    width: 20px;
    height: 20px;
}
/* Tags */
.Tags{
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .tags-topic{
        margin: 5px;
        padding: 10px;
        border:none;
        background-color:rgb(225, 218, 218);
    }
    .tags-style{
        display:flex;
    }
/* latest post */
.cart-text-style{
    font-weight: bold;
    color:rgb(16, 15, 15);
    font-size:18px;
}
.cart-items img{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;;
}
.item-text-style p{
    margin-top: 50px;
    font-size:10px;
}
/* archive */
.archive h6{
    margin-bottom:15px;
}
.archive p{
    font-size:13px;
}
/* twitter */
.twitter h6{
    margin-bottom: 15px;
}
.tweet-post{
    margin-bottom: 10px;;
}
.twitter img{
    margin-right: 15px;
    height: 10px;
}
.time{
    color: rgba(0, 0, 0, 0.426);
}
.tweet-info p{
    margin-bottom: 0;
}
.tweet-info a{
    margin-bottom: 0;
    color: rgb(112, 108, 108)
}
/* footer */
.footer{
    margin-top: 60px;
}
.portfolio{
    padding: 25px;
    background-color:rgba(211, 211, 211, 0.7);
}
.lower{
    background-color:black;
}
.content{
    padding: 40px;
    color:white;
}
.list li{
    margin-left:-20px;
    font-size:12px;
}
.content h5{
    margin-bottom: 30px;
}
.content p{
    font-size: 11px;
}
.footer-items img{
width: 100%;
height: 100px;
}
.form-style{
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.782);
}
.feedback{
    margin-top:5px;
    color:white;
}
.low img{
    margin-left:20px;
    height:15px;
    width:15px;
    margin-bottom: 20px;
}
/* copyright */
.copyright{
    padding:20px;
    background-color:rgba(211, 211, 211, 0.7);
}
.copyright img{
    height: 15px;
    width:15px;
}