/* icon style */
.icon-style img{
    height:20px ;
    width: 20px;
}
.social-head a{
    margin-right:8px;
}
.cart-items-number{
    position: relative;
}
@media only screen and (max-width: 575px) {
    .cart-items-number{
        width: 6%;
        position: relative;
    }

}
.cart-items-number .show-number{
    position:absolute;
    top: 0%;
    right: 0%;
    font-size:12px;
    font-weight: bold;
    color:rgb(255, 255, 255);
}
#nothing{
    display:none;
    color:#fff;
}

.mini-cart{
display:flex;
}
.mini-cart-button{
    padding:10px;
}
.mini-cart img{
    margin-bottom: 5px;
    margin-right:5px;
    height:65px;
    width:60px;
}
.mini-cart-details{
    margin-top:-15px;
    padding:2px
}
.mini-cart-details p{
 padding:0;
 margin:0px;
 font-size:8px!important;
}
.cart-all{
    width:300px;
    padding:10px;
    display:none;
    background-color:rgba(62, 40, 40, 0.639);
}
.cart-all p{
    color:rgb(255, 248, 248);
    margin-top: 5px;
    font-size:10px;
}
.head .cart-all{
    position:absolute;
    top: 0%;
    right: 0%;
}
.head{
    position: relative;
    margin-top:10px;
    margin-bottom:10px;
}
.cart-all a{
    margin-left:70%;;
}
.btn-cart{
    border: none;
    color: rgba(255, 255, 255, 0.734);
    border-radius: 1px;
    background-color:rgba(49, 220, 98, 0.686);
    outline: none!important;
}
.btn-remove{
    outline: none!important;
    border: none;
    color: rgba(255, 255, 255, 0.666);
    border-radius: 1px;
    background-color:rgb(235, 12, 12);
}
/* social link style */
.social{
    margin-left: 5px;;
}
/* breadcrumb style */
.breadcrumb-style{
    background-color: rgb(255, 255, 255);
}
.breadcrumb-style a{
    color:gray;
}
/* title style */
.title{
    margin-top:20px;
    margin-bottom:50px;
}
/* text color */
.text-color{
    color:gray;
}
/* items style */
.items{
    margin-bottom: 20px;
    text-align: center;
}
.items img{
    height: 230px;
}
.items a img{
    height: 20px;
}
/* card style */
.card-text-style{
    
    color:gray;
    font-size:11px;
    height: 30px;
}
.sale{
    position: relative;
}
.sale .btn{
    position: absolute;
    top: 10%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.new-in{
    position: relative;
}
.new-in .btn{
    position: absolute;
    top: 10%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 5px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.wishlist{
    width: 100%;
    bottom: -6%;
    color: white;
    border: none;
    cursor: pointer;
    font-size:18px;
    background-color:rgba(128, 128, 128, 0.46);
    position: absolute;
    text-align: center;
    padding:15px;
}
.wishlist img{
    height:20px;
    width:20px;
}
.btn-color{
    background-color:rgba(38, 25, 25, 0.864);
    color:rgb(255, 255, 255);
}
.price-style{
    margin-bottom: -10px;
    color:gray;
}
/* 5 star */
.rate {
    height:25px;
    margin-bottom: 10px;
}
.previous-price{
    margin-right: 10px;
    text-decoration: line-through;
}
.star-style{
    clear:both;
}
/* cart images */
.cart img{
    margin-top: 10px;
    margin-left: 20px;
    height: 15px;
    margin-bottom: 20px;
}
.cart-text-style{
    color:gray;
    font-size:15px;
}
.cart-items img{
    width: 100%;
    height: 100%;
}
.cross{
    border-radius: 3px;
    background-color:white;
    border: none;
    outline:none !important;
}
.anchor-style a{
    text-decoration:none;
    color:white;
    outline:none;
}
.bold{
    color: black;
    font-weight:bold;
}
.item-text-style{
    color:gray;
    font-size:12px;
}
/* category */
.category{
    margin-top:20px;
    margin-bottom:20px;
}
.category-text-style{
    color:gray;
    font-size:15px;
}
/* filter */
.filter{
    margin-left: 20px;
}
.filter-hr{
    border: 2px solid black;
}
.filter-price{
   display: inline;
}
/* Tags */
.Tags{
margin-top: 20px;
margin-bottom: 20px;
}
.tags-topic{
    margin: 5px;
    padding: 10px;
    border:none;
    background-color:gray;
}
.tags-style{
    display:flex;
}
/* pagination */
.pagination{
    background-color:rgba(211, 211, 211, 0.7);
}
.anchor a{
    padding: 10px;
    text-decoration:none;
    color:rgb(92, 92, 92);
    margin-left: 15px;;
}
/* footer */
.footer{
    margin-top: 60px;
}
.portfolio{
    padding: 25px;
    background-color:rgba(211, 211, 211, 0.7);
}
.lower{
    background-color:black;
}
.content{
    padding: 40px;
    color:white;
}
.list li{
    margin-left:0px;
    font-size:12px;
}
.content h5{
    margin-bottom: 30px;
}
.content p{
    font-size: 11px;
}
.footer-items img{
width: 100%;
height: 100px;
}
.form-style{
    border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.782);
}
.feedback{
    margin-top:5px;
    color:white;
}
.low img{
    margin-left:20px;
    height:15px;
    width:15px;
    margin-bottom: 20px;
}
/* copyright */
.copyright{
    padding:20px;
    background-color:rgba(211, 211, 211, 0.7);
}
.copyright img{
    height: 15px;
    width:15px;
}

